/* common */
* {
	MARGIN: 0px;
	PADDING-LEFT: 0px; PADDING-RIGHT: 0px;
	PADDING-TOP: 0px; PADDING-BOTTOM: 0px;
}
BODY {
	MARGIN: 0px auto;
	/* BACKGROUND-COLOR: #ffffff; COLOR: #000000; */
	background-repeat: repeat; 
	background-image: url("../images/bg01.jpg");
	FONT-SIZE: 9pt;
}
/* 首页 */
.nav_box {
	width:1200px; height:44px;
	margin:0 auto; position:relative; overflow:visible; margin-top:30px;
	background:url('../images/nav_bg.jpg');
}
.nav_box_l {
	position:absolute; left:-32px; top:0;
	width:32px; height:57px;
	background:url('../images/nav_left.png') no-repeat;
}
.nav_box_r {
	position:absolute; right:-31px; top:0;
	width:31px; height:57px;
	background:url('../images/nav_right.png') no-repeat;
}
.nav_box li {
	float:left; padding:0 30px;
	line-height:40px; list-style:none;
	font-size:16px; font-weight:bold;
}
.nav_box li.li_r {
	float:right; padding:0 10px;
	line-height:40px;
	font-size:12px; color:#FFF;
}
.nav_box li a { color:#FFF; text-decoration:none }
.nav_box li a.font_min { font-weight:400; }

.homepage-main {
	position:absolute; left:0px; top:40px;
	width : 1200px; height : 512px;
	background-repeat: no-repeat; 
	background-image: url("../images/dungeon.png");
}
.homepageTitle {
	position:absolute; left:30px; top:30px;
	font-size:30px; 
	color:#FF3377;
}
