# scala specific
*.class
*.jar
*.war
*.ear
*.log

# vim specific
*.swp
tags

# maven specific
target/
dependency-reduced-pom.xml

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# uml tools tmp file
*.zargo~

# Scala-IDE specific
.scala_dependencies

# eclipse specific
.metadata/
.settings/
.classpath
.project
bin/

# config for this proj
src/test/resources/connect.properties
